                                          Spoonacular API - Product Weights

In [22]:
import requests
import pandas as pd

In [32]:
url = "https://api.spoonacular.com/food/products/search?query=vegan&number=100&apiKey=1e0d8e855e304b7a9cb1a5881579f0e1"

headers = {}

request_body = {
    "withWeight": True
}

response = requests.get(url, headers=headers, data=request_body)

if response.status_code == 200:
    foods = response.json()#["results"]

    for food in foods:
        print(foods["products"], foods["weight"])
        
else:
    # The request failed, so print the error message
    print(response.status_code, response.reason)

KeyError: 'weight'

In [27]:
response

In [28]:
spoontab = pd.DataFrame(foods)
spoontab

,type,products,offset,number,totalProducts,processingTimeMs,expires,isStale
0,product,"{'id': 7089054, 'title': 'Orrington Farms - Ve...",0,100,2077012,10452,1685871854817,False
1,product,"{'id': 3553526, 'title': 'Orrington Farms Vega...",0,100,2077012,10452,1685871854817,False
2,product,"{'id': 7225364, 'title': 'Orrington Farms Vega...",0,100,2077012,10452,1685871854817,False
3,product,"{'id': 3549712, 'title': 'Vegan International ...",0,100,2077012,10452,1685871854817,False
4,product,"{'id': 4398616, 'title': 'Healthy Vegan Snacks...",0,100,2077012,10452,1685871854817,False
...,...,...,...,...,...,...,...,...
95,product,"{'id': 7092404, 'title': 'Organic Vegan Plant-...",0,100,2077012,10452,1685871854817,False
96,product,"{'id': 5277446, 'title': 'Nutiva Organic Vegan...",0,100,2077012,10452,1685871854817,False
97,product,"{'id': 5611656, 'title': 'Nutiva Organic Vegan...",0,100,2077012,10452,1685871854817,False
98,product,"{'id': 3800512, 'title': 'Vegan Gluten Free Da...",0,100,2077012,10452,1685871854817,False
99,product,"{'id': 4029762, 'title': 'Vegan Gluten Free Da...",0,100,2077012,10452,1685871854817,False

In [51]:
spoon_p = spoontab['products']

In [53]:
spoon_p = pd.DataFrame(spoon_p)
spoon_p

                                             products
0   {'id': 7089054, 'title': 'Orrington Farms - Ve...
1   {'id': 3553526, 'title': 'Orrington Farms Vega...
2   {'id': 7225364, 'title': 'Orrington Farms Vega...
3   {'id': 3549712, 'title': 'Vegan International ...
4   {'id': 4398616, 'title': 'Healthy Vegan Snacks...
..                                                ...
95  {'id': 7092404, 'title': 'Organic Vegan Plant-...
96  {'id': 5277446, 'title': 'Nutiva Organic Vegan...
97  {'id': 5611656, 'title': 'Nutiva Organic Vegan...
98  {'id': 3800512, 'title': 'Vegan Gluten Free Da...
99  {'id': 4029762, 'title': 'Vegan Gluten Free Da...

[100 rows x 1 columns]

In [59]:
titles = spoon_p['products'].apply(lambda x: x['title'])# Extract titles from the dictionaries
titles

0     Orrington Farms - Vegan Broth Seasoning Combo ...
1     Orrington Farms Vegan Broth Base Seasoning, 4 ...
2     Orrington Farms Vegan Broth Base Seasoning, 4 ...
3     Vegan International Meal Sampler Vegan Chicken...
4     Healthy Vegan Snacks Care Package: Mix of Vega...
                            ...
95    Organic Vegan Plant-Based Ghee, 29 Ounce Pet |...
96    Nutiva Organic Vegan Plant-Based Ghee, 29 Oz P...
97    Nutiva Organic Vegan Plant-Based Ghee, 29 Ounc...
98    Vegan Gluten Free Dairy Free Healthy Snacks: V...
99    Vegan Gluten Free Dairy Free Healthy Snacks: V...
Name: products, Length: 100, dtype: object

In [60]:
spoon_tab = pd.DataFrame({'title': titles})
spoon_tab

                                                title
0   Orrington Farms - Vegan Broth Seasoning Combo ...
1   Orrington Farms Vegan Broth Base Seasoning, 4 ...
2   Orrington Farms Vegan Broth Base Seasoning, 4 ...
3   Vegan International Meal Sampler Vegan Chicken...
4   Healthy Vegan Snacks Care Package: Mix of Vega...
..                                                ...
95  Organic Vegan Plant-Based Ghee, 29 Ounce Pet |...
96  Nutiva Organic Vegan Plant-Based Ghee, 29 Oz P...
97  Nutiva Organic Vegan Plant-Based Ghee, 29 Ounc...
98  Vegan Gluten Free Dairy Free Healthy Snacks: V...
99  Vegan Gluten Free Dairy Free Healthy Snacks: V...

[100 rows x 1 columns]