# Food Portion Sizes

                                        Extracting text from Food Portion Sizes PDF

Install Libraries

In [2]:
import pandas as pd
import tabula

    Using tabula

In [3]:
# The path to the PDF file
pdf_path = r"C:\Users\medekar\Desktop\Product_Weight_Project\Data\Food_Portion_Sizes.pdf"

# Extract all tables from the PDF file
tables = tabula.read_pdf(pdf_path, 
                         pages="12-114", 
                         stream=True, 
                         multiple_tables=True, 
                         guess=False, 
                         pandas_options={"header": [0, 1,2,3]}
                        )

# Get the number of pages
num_pages = len(tables)

df = pd.DataFrame()
# Loop over the pages
for page in range(num_pages):
    # Extract the table from the PDF file
    table = tables[page]

    # Print the table data
    df = df.append(table, ignore_index=True)

C:\Users\medekar\AppData\Local\Temp\ipykernel_1576\1021459922.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(table, ignore_index=True)

In [4]:
df

                                               0       1    2   3
0      Nutrient analysis of fruit and vegetables     NaN  NaN NaN
1                                            NaN     NaN  NaN NaN
2       Sample 1: Potatoes, old, raw, flesh only     NaN  NaN NaN
3                                            NaN     NaN  NaN NaN
4                    Composite Sample Number:  1     NaN  NaN NaN
...                                          ...     ...  ...  ..
69169                                        NaN     NaN  NaN NaN
69170             Post Purchase Storage: Ambient     NaN  NaN NaN
69171                                        NaN     NaN  NaN NaN
69172                                        NaN     NaN  NaN NaN
69173                                        NaN  2145.0  NaN NaN

[69174 rows x 4 columns]

*Removing rows I do not want*

In [4]:
FPS = df.drop([0,1,2,3,4,5,2918,2919])

In [9]:
FPS

                         0                                1     2    3
6               BABY FOODS                              NaN   NaN  NaN
7     Boots, First Harvest                  Dessert starter  125g  NaN
8                      NaN                  Infant desserts  125g  NaN
9                      NaN  Infant savouries, from 4 months  125g  NaN
10                     NaN                  Junior desserts  190g  NaN
...                    ...                              ...   ...  ...
2913                   NaN                            Onken  200g  NaN
2914                   NaN               Petit Danone—small   50g  NaN
2915                   NaN           St Ivel Fiendish Faces   50g  NaN
2916    Baby fromage frais                      Baby Danone   60g  NaN
2917                   NaN                      Heinz (jar)  163g  NaN

[2912 rows x 4 columns]

In [10]:
df.to_csv(r"C:\Users\medekar\Desktop\Product_Weight_Project\Data\Raw_Food_Portion_Sizes.csv")