                                                   SelfScale DataBase Eggs

Libraries Imported

In [1]:
import pandas as pd
import re

Reading in Updated List

In [2]:
Red_List = pd.read_csv(r'C:\Users\medekar\Desktop\Product_Weight_Project\Data\Processed\Reduced Total\Updated2_RedLab2021.csv', index_col=0)

###### Selecting all Fruits in Reduced List

In [3]:
Eggg = Red_List.loc[Red_List['Super Group'] == 'Eggs']

In [4]:
Eggg.to_csv(r'C:\Users\medekar\Desktop\Product_Weight_Project\Data\Processed\Reduced Super Group\Eggs.csv')

                                                   Herbs and spices

In [8]:
Eggs = pd.read_csv(r'C:\Users\medekar\Desktop\Product_Weight_Project\Data\Processed\Reduced Super Group\Eggs.csv', index_col=0)

In [9]:
Eggs.shape

(2, 6)

##### Reviewing Veg List

Most of Review done in Excel

In [10]:
#Loop through dataframe and print comments
for comment in Eggs:
    pd.set_option('display.max_colwidth', None)
    #pd.set_option('display.max_rows', None)
Eggs

,Food Code,Food Name,Group,Super Group,Sale format(s),VJ comments
259,12-937,"Eggs, chicken, whole, raw",CA,Eggs,"egg box, 6, 10, 12, 30",NaN
473,12-949,"Quiche, vegetable, retail",CD,Eggs,"small individual, large sharing",NaN

In [11]:
Eggs.drop('VJ comments', axis=1, inplace=True)

In [18]:
Eggs.to_csv(r'C:\Users\medekar\Desktop\Product_Weight_Project\Data\Processed\Reduced Super Group\Cleaned\Eggs_Cleaned.csv')