# Final Dataframe

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

                                                     Full Dataset

In [2]:
pd.set_option('display.max_rows', None)
Retail = pd.read_csv(r'C:\Users\medekar\Desktop\Product_Weight_Project\Data\Processed\ReducedwithWeights\dataproduct.csv', index_col=0)
Retail.head(2)

,Food Code,Food Name,Food sub-group codes,Food Group,Sale format(s),Similarity Score,Weight,PurEqualCon,Portion Consumed,Source
0,17-208,"beer, bitter, best, premium",QA,Alcoholic beverages,"can, can multipack, bottle, bottle multipack",0.707107,574g,Y,1 pint,NaN
1,17-224,"cider, sweet",QC,Alcoholic beverages,"can, can multipack, bottle, bottle multipack",0.609864,25g,Y,NaN,NaN

                                    Aligning Full Dataset with Fruit and Veg Df

In [3]:
Retail.rename(columns={'Weight':'Product Weight'}, inplace=True)

In [4]:
Retail[['Purchase Date','Pack Size']] = ''

In [5]:
Retail['Pack Size'] = Retail['Portion Consumed']

In [6]:
Retail.drop(['Portion Consumed'], axis=1, inplace=True)

In [7]:
ps = Retail[~Retail['PurEqualCon'].isna()]

In [8]:
ps['Source'] = 'FPS'

C:\Users\medekar\AppData\Local\Temp\ipykernel_25000\2421317720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ps['Source'] = 'FPS'

In [9]:
Retail.update(ps)

In [10]:
Retail.drop(['PurEqualCon'], axis=1, inplace=True)

In [11]:
Retail[['Food Code', 'Food Name', 'Food sub-group codes', 'Food Group',
       'Sale format(s)', 'Similarity Score', 'Product Weight', 'Source',
       'Purchase Date', 'Pack Size']].head(2)

,Food Code,Food Name,Food sub-group codes,Food Group,Sale format(s),Similarity Score,Product Weight,Source,Purchase Date,Pack Size
0,17-208,"beer, bitter, best, premium",QA,Alcoholic beverages,"can, can multipack, bottle, bottle multipack",0.707107,574g,FPS,,1 pint
1,17-224,"cider, sweet",QC,Alcoholic beverages,"can, can multipack, bottle, bottle multipack",0.609864,25g,FPS,,NaN

                                              Remove Fruit and Veg from List

In [12]:
rest = Retail[~Retail['Food Group'].str.contains('Fruit|Vegetables')]

                                                  Fruit & Veg Database

In [14]:
fv = pd.read_csv(r'C:\Users\medekar\Desktop\Product_Weight_Project\Data\Processed\ReducedwithWeights\fv_full.csv', index_col=0)

In [15]:
fv.rename(columns={'Packaging':'Sale format(s)'}, inplace=True)

In [16]:
fv.reset_index(drop=True).head(2)

,Food Code,Food Name,Food sub-group codes,Food Group,Product Weight,Source,Similarity Score,Sale format(s),Purchase Date,Pack Size
0,13-145,ackee,DG,Vegetables,NaN,NaN,NaN,Can,NaN,NaN
1,13-146,agar,DG,Vegetables,NaN,NaN,NaN,Bag,NaN,NaN

                                             Add Cleaned fruit and Veg to List

In [17]:
rfull = pd.concat([rest,fv])

In [18]:
rfull.drop(366, axis=0, inplace=True)

In [26]:
rfull['Food Group'].value_counts().sort_index()

Alcoholic beverages                        8
Beverages                                 14
Cereals and cereal products               89
Eggs                                       2
Fats and oils                              7
Fish and fish products                    33
Fruit                                     61
Herbs and spices                          35
Meat and meat products                    46
Milk and milk products                    33
Nuts and seeds                            17
Soups, sauces and miscellaneous foods     43
Sugars, preserves and snacks              25
Vegetables                               107
Name: Food Group, dtype: int64

                                                            Export

In [21]:
rfull.to_csv(r'C:\Users\medekar\Desktop\Product_Weight_Project\Data\Processed\ReducedwithWeights\dp_full.csv')